.input_block {
  display: flex;
  flex-direction: column;
}

.name {
  color: #000;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 0.875rem;
}

.input {
  margin-top: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #e0e0e0;
  background: #fff;
  padding: 1rem;
  width: 19.58313rem;
}
