.main {
  max-width: 1200px;
  margin: 0 auto;
}

.info {
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #4f4f4f;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  text-align: center;
}

.info p {
  color: #4f4f4f;
  font-size: 0.81731rem;
  font-weight: 500;
  line-height: 1.32025rem;
}

.title {
  color: #333;
  font-size: 1.50881rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.26913rem;
}

.table {
  margin: 0 auto;
  border-spacing: 1rem;
  font-size: 0.8rem;
}

.menu {
  font-size: 0.8rem;
}
