.bus_main td {
  text-align: center;
  padding: 1rem 1rem;
}

@media (min-width: 768px) {
  .bus_main td {
    padding: 1rem 3rem;
  }
}

.time {
  color: #000;
  font-size: 0.9rem;
}

.time span {
  color: #bdbdbd;
  font-size: 0.7rem;
}

.auto_vogz {
  display: flex;
  font-size: 0.7rem;
  color: #68c6e8;

  cursor: pointer;
}

.auto_vogz:hover {
  opacity: 0.7;
}

.time_in {
  color: #000;
  font-size: 0.8rem;
}

.cost {
  color: #000;
  font-size: 0.8rem;
}

.btn {
  color: #fff;
  font-size: 0.7rem;
  border-radius: 0.2515rem;
  background: #68c6e8;
  padding: 0.8rem;
}

.btn:hover {
  opacity: 0.7;
}

.btn span {
  color: #f2f2f2;
  font-size: 0.7rem;
}

.bus_block {
  background: #fff;
  box-shadow: 0px 12.070653915405273px 34.2001838684082px 0px
    rgba(27, 94, 32, 0.27);
}

.bus_more td {
  padding: 0.5rem 1rem 0.5rem;
}
@media (min-width: 768px) {
  .bus_more td {
    padding: 0.5rem 3rem 0.5rem;
  }
}

.line {
  border: 1.006px solid #f2f2f2;
}

.grade {
  color: #000;
  font-size: 0.5rem;
}

.organization {
  color: #828282;
  font-size: 0.5rem;
}

.more_road {
  padding: 0;
  color: #68c6e8;
  font-size: 0.6rem;
  text-decoration: underline dotted 2px #68c6e8;
  text-underline-offset: 4px;
  text-align: center;
  cursor: pointer;
}

.more_road:hover {
  opacity: 0.7;
}
