.form {
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 12px 34px 0px rgba(27, 94, 32, 0.27);
  padding: 1rem;
}

.first {
  display: flex;
  gap: 1rem;
}

.btn {
  border-radius: 0.1875rem 0rem 0rem 0.1875rem;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  cursor: pointer;
}

.selectBtns {
  margin-top: 1rem;
}

.btnActive {
  border-radius: 0.1875rem 0rem 0rem 0.1875rem;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  cursor: pointer;
  background-color: #68c6e8;
}

.second {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.label {
  color: #000;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 0.875rem;
}

.dMY {
  margin-top: 1rem;
  display: flex;
  gap: 0.3rem;
}

.inputDate {
  border-radius: 0.25rem;
  border: 1px solid #e0e0e0;
  background: #fff;
  width: 4.6875rem;
  padding: 0.8125rem 0.8125rem;
}

.inputMonth {
  width: 9.58313rem;
  padding: 0.875rem 1.9375rem 0.8125rem 0.8125rem;
  border-radius: 0.25rem;
  border: 1px solid #e0e0e0;
  background: #fff;
}

.inputYear {
  border-radius: 0.25rem;
  border: 1px solid #e0e0e0;
  background: #fff;
  width: 4.6875rem;
  padding: 0.8125rem 0.8125rem;
}

.citizenship {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputCitizen {
  padding: 0.875rem 1.9375rem 0.8125rem 0.8125rem;
  border-radius: 0.25rem;
  border: 1px solid #e0e0e0;
  background: #fff;
  width: 11.875rem;
}

.document {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputDoc {
  border-radius: 0.25rem;
  border: 1px solid #e0e0e0;
  background: #fff;
  width: 26.60375rem;
  padding: 0.875rem 1.9375rem 0.8125rem 0.8125rem;
}

.inputDocNum {
  margin-top: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #e0e0e0;
  background: #f2f2f2;
  width: 10.9375rem;
  padding: 0.875rem;
}

.line {
  margin-top: 1rem;
  border-top: 1px solid #e0e0e0;
}

.final {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.check {
  display: flex;
  gap: 1rem;
}

.sitInBus {
  display: flex;
  flex-direction: column;
}

.inputSitInBus {
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #e0e0e0;
  background: #fff;
  width: 10rem;
  padding: 0.875rem 1.9375rem 0.8125rem 0.8125rem;
}

.rateText {
  color: #000;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.3125rem;
}

.price {
  color: #68c6e8;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.0625rem;
}

.addTravler {
  margin-top: 1rem;
  border-radius: 0.25rem;
  border: 2px solid #68c6e8;
  background: #fff;
  color: #68c6e8;
  font-family: Arial;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  padding: 1.125rem 1.93rem 1.125rem 1.9375rem;
  transition: 0.3s ease-in-out;
}

.addTravler:hover {
  color: #fff;
  background-color: #68c6e8;
}

.btnCont {
  margin: 1rem 0 1rem;
  text-align: center;
}

.rent {
  border-radius: 0.25rem;
  border: 2px solid #68c6e8;
  background: #68c6e8;
  padding: 1.125rem 6.5rem 1.125rem 6.5rem;
  color: #fff;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.rent:hover {
  color: #68c6e8;
  background-color: #fff;
}
